<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Jam.Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="ShellBrowserExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
      <Jam.Explorer.Properties.Settings>
          <setting name="ShowFiles" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="ShowLines" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="DefaultFont" serializeAs="String">
              <value>Lucida Sans, 9.75pt, style=Italic</value>
          </setting>
          <setting name="ShowFiles2" serializeAs="String">
              <value>True</value>
          </setting>
      </Jam.Explorer.Properties.Settings>
      <ShellBrowserExample.Properties.Settings>
          <setting name="ShowFiles" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="ShowLines" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="DefaultFont" serializeAs="String">
              <value>Lucida Sans, 9.75pt, style=Italic</value>
          </setting>
          <setting name="ShowFiles2" serializeAs="String">
              <value>True</value>
          </setting>
      </ShellBrowserExample.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2"/>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
